#footer {
    background-color: transparent;
}

#page-header {
    background-color: transparent;
}

#page-header.post-bg:before {
    background-color: rgba(0, 0, 0, 0.2)!important;
}

#page-header.post-bg {
    height: 20rem;
    background-color: transparent!important;
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.8)!important;
}


/* 文章页背景 */

.layout_post>#post {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(255, 255, 255, .8);
    margin-top: 0.5!important
}


/* 所有页面背景 */

#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.5 */
    background: rgba(255, 255, 255, .8);
}


/* 页脚透明 */

#footer {
    background: transparent!important;
}


/* 页脚黑色透明玻璃效果移除 */

#footer::before {
    background: transparent!important;
}


/* 头图透明 */

#page-header {
    background: transparent!important;
}


/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */

#page-header.post-bg:before {
    background-color: transparent!important;
}


/*夜间模式伪类遮罩层透明*/

[data-theme="dark"] #footer::before {
    background: transparent!important;
}

[data-theme="dark"] #page-header::before {
    background: transparent!important;
}

.categoryBar-list {
    max-height: 400px!important;
}

#recent-posts>.recent-post-item {
    height: 16em;
}

#aside-content .card-widget {
    margin-top: 0.5rem!important;
}

#aside-content>.card-widget:first-child {
    margin-top: 0.5!important;
}

#recent-posts>.recent-post-item: {
    margin-top: 0.5rem!important;
}

#recent-posts>.recent-post-item {
    margin-top: 0.5rem!important;
}

.layout>div:first-child:not(.recent-posts) {
    margin-top: 0.5rem!important;
}